.house3d-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.lighting-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lighting-controls h3 {
  margin-top: 0;
}

.lighting-controls label {
  display: block;
  margin-bottom: 10px;
}

.lighting-controls input[type="range"] {
  width: 100%;
}
