/* Basic reset */
body, html, .App {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar styling */   
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 30px;
}

.navbar-nav {
    list-style-type: none; /* This removes the bullet points */
    padding-left: 0;
}

.navbar-nav .nav-item .nav-link {
    color: #000;
    margin-right: 15px;
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #dc3545;
}

.navbar-nav .btn-warning {
    color: #fff;
    font-weight: 500;
}

/* Welcome Section */
.container h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

/* Button group styling */
.d-flex .btn {
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 20px;
}

.btn-primary {
    background-color: #460cf5;
    border-color: #0a5621;
}

.btn-primary:hover {
    background-color: #f306e3;
    border-color: #bd2130;
}

.btn-secondary {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #000;
}

.btn-secondary:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.ml-2 {
    margin-left: 10px;
}

/* Search Bar styling */
.input-group .form-control {
    border-radius: 20px;
    margin-right: 5px;
    border-color: #ddd;
}

.input-group .btn-danger {
    border-radius: 20px;
    background-color: #dc3545;
    border-color: #dc3545;
}

.input-group .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Results section */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h6 {
    font-weight: 600;
    color: #333;
}

.card a {
    color: #dc3545;
    font-weight: 500;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .d-flex .btn {
        margin-bottom: 10px;
    }

    .input-group .form-control {
        margin-bottom: 10px;
    }
}
