/* SearchBar.css */
.search-bar {
    margin: 20px auto;
    max-width: 600px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 2px solid #06160f;
    border-radius: 6px;
    font-size: 1em;
  }
  